### MSIS 2629 - Data Visualization and Dashboards
### Ameya Ghatpande - Individual project
### Rise of the Dragons - Asia'a life expectancy over last 50 years

In [1]:
# <aghatpande> on 07-Mar-2017
# print all the outputs in a cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
import pandas as pd
import numpy as np

In [9]:
# Read the Life expectancy csv file
lifeExpectancy = pd.read_csv("life-expectancy.csv")

In [12]:
len(lifeExpectancy)
lifeExpectancy.head(5)
lifeExpectancy = lifeExpectancy[lifeExpectancy.Entity.isnull() != True]
lifeExpectancy = lifeExpectancy[lifeExpectancy.Year.isnull() != True]
len(lifeExpectancy)

14177

        Entity  Year Country code  Life Expectancy at Birth (both genders)
0  Afghanistan  1950          AFG                                   27.706
1  Afghanistan  1951          AFG                                   27.706
2  Afghanistan  1952          AFG                                   27.706
3  Afghanistan  1953          AFG                                   27.706
4  Afghanistan  1954          AFG                                   27.706

14177

### create a new column for world events like atomic bombings, epidemic flu etc

In [24]:
def worldEvents(Entity):
    if Entity == "Japan":
        return "Hiroshima Nagasaki Atomic bombing"
    elif Entity =="Spain" or Entity == "United States" or "Entity" == "United Kingdom":
        return "The great influenza epidemic"
    elif Entity == "France" or Entity == "Russia":
        return "The nightmare of Tuberculosis"

In [25]:
lifeExpectancy["Life-Threatening-events"] = lifeExpectancy.Entity.apply(worldEvents)

In [27]:
lifeExpectancy[((lifeExpectancy.Entity == "Russia") | (lifeExpectancy.Entity == "Russia"))].head(5)

,Entity,Year,Country code,Life Expectancy at Birth (both genders),Life-Threatening-events
10417,Russia,1896,RUS,31.9,The nightmare of Tuberculosis
10418,Russia,1900,RUS,30.5,The nightmare of Tuberculosis
10419,Russia,1920,RUS,20.5,The nightmare of Tuberculosis
10420,Russia,1921,RUS,23.8,The nightmare of Tuberculosis
10421,Russia,1922,RUS,24.7,The nightmare of Tuberculosis

### Save the newly created column of world events in the scv file

In [28]:
lifeExpectancy.to_csv("life-expectancy.csv")

#### Open a new file for checking the relation between life expectancy and Health care spendings

In [29]:
lifeAndHealth = pd.read_csv("life-expectancy-vs-healthcare-expenditure.csv")

In [30]:
len(lifeAndHealth)
lifeAndHealth[lifeAndHealth.Entity == "Afghanistan"].head(10)

12441

,Entity,Year,Country code,Health Expenditure per capita (WDI),Life Expectancy (at birth) World Bank data
0,Afghanistan,1960,AFG,NaN,31.580049
1,Afghanistan,1961,AFG,NaN,32.095976
2,Afghanistan,1962,AFG,NaN,32.611878
3,Afghanistan,1963,AFG,NaN,33.127317
4,Afghanistan,1964,AFG,NaN,33.641244
5,Afghanistan,1965,AFG,NaN,34.153683
6,Afghanistan,1966,AFG,NaN,34.663122
7,Afghanistan,1967,AFG,NaN,35.170073
8,Afghanistan,1968,AFG,NaN,35.672024
9,Afghanistan,1969,AFG,NaN,36.169976

### Remove the NaN's

In [31]:
lifeAndHealth = lifeAndHealth[lifeAndHealth["Health Expenditure per capita (WDI)"].isnull() != True]

In [32]:
len(lifeAndHealth)

3543

In [33]:
lifeAndHealth.head(5)

,Entity,Year,Country code,Health Expenditure per capita (WDI),Life Expectancy (at birth) World Bank data
42,Afghanistan,2002,AFG,77.562874,55.671878
43,Afghanistan,2003,AFG,91.867101,56.107561
44,Afghanistan,2004,AFG,90.123345,56.569732
45,Afghanistan,2005,AFG,94.045016,57.058439
46,Afghanistan,2006,AFG,98.527584,57.570659

### Now create the dollar value of life
### Dollar-value-of-life = Per capita spending per year / life expectany in that year

#### The smaller the value of this ratio, better is the result

In [34]:
lifeAndHealth["DollarValueOfLife"] = lifeAndHealth["Health Expenditure per capita (WDI)"]/ lifeAndHealth["Life Expectancy (at birth) World Bank data"]

In [35]:
lifeAndHealth[lifeAndHealth.Year == 2013].sort("DollarValueOfLife", ascending = False).head(10)

/Users/test/Library/Enthought/Canopy_64bit/User/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

,Entity,Year,Country code,Health Expenditure per capita (WDI),Life Expectancy (at birth) World Bank data,DollarValueOfLife
11846,United States,2013,USA,9145.828151,78.841463,116.002770
6712,Luxembourg,2013,LUX,6518.220306,81.797561,79.687221
8479,Norway,2013,NOR,6307.782585,81.451220,77.442457
10963,Switzerland,2013,CHE,6186.651276,82.748780,74.764259
8047,Netherlands,2013,NLD,5601.105320,81.104878,69.060030
612,Austria,2013,AUT,4884.618310,80.890244,60.385753
4143,Germany,2013,DEU,4811.815405,81.043902,59.372948
1764,Canada,2013,CAN,4759.314874,81.401122,58.467436
2795,Denmark,2013,DNK,4552.399747,80.302439,56.690678
990,Belgium,2013,BEL,4526.081135,80.385366,56.304790

In [36]:
lifeAndHealth.to_csv("life-expectancy-vs-healthcare-expenditure.csv")